@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap');

body{
    font-family: 'Roboto Slab', serif;
}

:root {
    --black: #191e29;
    --blue: #132d46;
    --green: #01c38d;
    --grey: #696e79;
    --white: #eaebed;
}


nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    height: 45px;
    background-color: var(--green);
}

.link-nav{
    font-size: 1.2em;
    margin-right: 3%;
    text-decoration: none;
}

.link-nav:hover{
    text-decoration: underline;
    color: var(--white);
}

#home{
    display: flex;
    height: 97vh;
    padding-top: 7vh;
}

#text, #image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

#text{
    margin: 30px;
    width: 60vw;
    font-size: 3em;
    line-height: 1.3em;
}

mark{
    background-color: var(--green);
    border-radius: 5px;
}

#text h2{
    font-size: 0.7em;
    margin-left: -70px;
}

#home button {
    transition: all .5s ease;
    color: var(--white);
    border: 3px solid var(--white);
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    font-size: 0.6em;
    background-color : transparent;
    margin: 10vh 0 0 -10vw;
    width: 300px;
    height: 75px;
    border-radius: 15px;
}
#home button:hover {
    color: var(--black);
    background-color: var(--green);
    border: 3px solid var(--black);
}

#image img{
    position:absolute;
    border-radius: 100%;
    border: 3px dashed var(--green) ;
    height: 400px;
    width: 400px;
}


.info{
    display: flex;
    flex-direction: column;
}

#soft-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin: 0px 15px;
    line-height: 20px;
}


#hard-skills{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    height: 50%;
}

section{
    height: 100vh;
}